<!DOCTYPE html>
<html>
  <head>
    <title>Grasp | Hydration Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag "hydration-helper-bundle" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
