<!DOCTYPE html>
<html>
  <head>
    <title>Grasp | Hydration Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.graspwellness.com/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag "hydration-helper-bundle" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
